<div class="section-full bg-primary">
                <div class="container our-value">
                     <div class="row">
                        <div class="col-md-8 col-sm-8 p-t15 p-b30 our-value-left">
                             <div class="clearfix">
                                <div class="col-md-6 p-tb10">
                                    <div class="wt-icon-box-wraper left ">
                                        <div class="icon-md">
                                            <div class="icon-cell text-white">
                                                <span class="flaticon-construction-4"></span>
                                            </div>
                                        </div>
                                        <div class="icon-content text-secondry">
                                            <h5 class="wt-tilte text-uppercase m-b5">Платите потом</h5>
                                            <p>С картой "халва"<br/> платишь потом.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-tb10">
                                    <div class="wt-icon-box-wraper left">
                                        <div class="icon-md text-primary">
                                            <div class="icon-cell text-white">
                                                <span class="flaticon-people-1"></span>
                                            </div>
                                        </div>
                                        <div class="icon-content text-secondry">
                                            <h5 class="wt-tilte text-uppercase m-b0">Легко и удобно</h5>
                                            <p>Делаем сейчас <br/>а платите вы потом .</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 p-t10 col-md-offset-1 our-value-right credit">
                            <a href="/halva"><img src="{% static '/images/banner/credit.png' %}"></a>
                        </div>
                     </div>
                </div>
             </div>