{% load static %}
{% load core_tags %}
<footer class="site-footer footer-dark">
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_about">
                        <h4 class="widget-title">О компании</h4>
                        <div class="logo-footer clearfix p-b15">
                            <a href="index.html"><img src="{% static 'images/logo-14.png' %}" width="230" height="67" alt=""/></a>
                        </div>
                        <p>Объединение «АртельСтрой» образовано в 2002 году. Основной деятельностью объединения являются услуги в области строительства и реконструкции.
                        </p>
                    </div>
                </div>
                <!-- RESENT POST -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget recent-posts-entry-date">
                        <h4 class="widget-title">Города</h4>
                        <ul>
                          <li><a href="/">Пятигорск</a></li>
                          <li><a href="/essentuki/farad-work/">Ессентуки</a></li>
                          <li><a href="/min-vodi/farad-work/">Минеральные воды</a></li>
                          <li><a href="/kislovodsk/farad-work/">Кисловодск</a></li>
                          <li><a href="">Ставрополь</a></li>
                          <li><a href="/cherkesk/farad-work/">Черкесск</a></li>
                          <li><a href="/nalchik/farad-work/">Нальчик</a></li>
                          <li><a href="">Магас</a></li>
                          <li><a href="/vladikavkaz/farad-work/">Владикавказ</a></li>
                          <li><a href="">Грозный</a></li>
                          <li><a href="">Лермонтов</a></li>
                        </ul>
                    </div>
                </div>
                <!-- USEFUL LINKS -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Меню</h4>
                        <ul>
                          {% menu_item_footer %}
                        </ul>
                    </div>
                </div>
                <!-- NEWSLETTER -->
                <div class="col-md-3 col-sm-6">

                    <!-- SOCIAL LINKS -->
                    <div class="widget widget_social_inks">
                        <h4 class="widget-title">Социальные сети</h4>
                        <ul class="social-icons social-square social-darkest">
                            <li><a href="javascript:void(0);" class="fa fa-vk"></a></li>
                            <li><a href="https://www.instagram.com/arcfasad/" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">

               <div class="col-md-4 col-sm-6  p-tb20">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-travel"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Адрес</h5>
                            <p>На странице контакты </p>
                        </div>
                   </div>
                </div>
               <div class="col-md-4 col-sm-6  p-tb20 ">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-smartphone-1"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Телефон</h5>
                            <p class="m-b0">8(800)777-1845</p>
                        </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6 p-tb20">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-email"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
                            <p class="m-b0">info@arc-fasad.ru</p>

                        </div>
                    </div>
                </div>

          </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="constrot-strip"></div>
        <div class="container p-t30">
            <div class="row">
                <div class="wt-footer-bot-left">
                    <span class="copyrights-text">© 2018 Фасадные Решения. Все права защищены.</span>
                </div>
                <div class="wt-footer-bot-right">
                    <ul class="copyrights-nav pull-right">
                        <li><a href="http://kmv-it.ru">Сделано в kmv-it.ru</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
