<div class="section-full p-t80 p-b50 overlay-wraper bg-parallax" data-stellar-background-ratio="0.5" style="background-image: url(http://thewebmax.com/build/images/background/bg2.jpg); background-position: 50% 40px;">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                
                	<!-- TITLE START -->
                	<div class="section-head text-center">
                        <h2 class="text-uppercase text-white">Как мы работаем</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator style-square has-bg">
                                <span class="separator-left bg-primary"></span>
                                <span class="separator-right bg-primary"></span>
                            </div>
                        </div>
                    </div>
                    <!-- TITLE END -->
                    
                    <!-- ACCORDIAN  DEFAULT ON BACKGROUND -->
                    <div class="section-content">
                        <div class="timeline text-white">
                        	<div class="timeline-item p-b40">
                                <div class="timeline-disc">
                                	<div class="timeline-icon">
                                        <div class="wt-icon-box-sm bg-primary radius-bx">
                                        	<span class="icon-cell text-white"><span class="flaticon-drawing-1"></span></span>
                                        </div>
                                    </div>
                                	<h5 class="text-uppercase">Расчет сметы</h5>
                                    <p>Чтобы сэконовить ваши деньги и время наш сметчик расчитает смету работ.</p>
                                </div>
                            </div>
                            <div class="timeline-item p-b40">
                                <div class="timeline-disc">
                                	<div class="timeline-icon">
                                        <div class="wt-icon-box-sm bg-primary radius-bx">
                                        	<span class="icon-cell text-white"><span class="flaticon-fax"></span></span>
                                        </div>
                                    </div>
                                	<h5 class="text-uppercase">Заключение договора</h5>
                                    <p>Эта процедура обеспечит гаранти, что цены не изменяться в ходе работ.</p>
                                </div>
                            </div>
                            <div class="timeline-item p-b40">
                                <div class="timeline-disc">
                                	<div class="timeline-icon">
                                        <div class="wt-icon-box-sm bg-primary radius-bx">
                                        	<span class="icon-cell text-white"><span class="flaticon-people-1"></span></span>
                                        </div>
                                    </div>
                                	<h5 class="text-uppercase">{{page}}</h5>
                                    <p>Позвольте сделать все профессионалам, мы подходим к работе творчески и досконально проверяем работу наших мастеров.</p>
                                </div>
                            </div>
                            <div class="timeline-item p-b40">
                                <div class="timeline-disc">
                                	<div class="timeline-icon">
                                        <div class="wt-icon-box-sm bg-primary radius-bx">
                                        	<span class="icon-cell text-white"><span class="flaticon-landscape"></span></span>
                                        </div>
                                    </div>
                                	<h5 class="text-uppercase">Вы принимаете работу</h5>
                                    <p>Оцените нашу работу и закрепите ее завершение подписью в акте выполненных работ.</p>
                                </div>
                            </div>                            
                        </div>                                        
                    </div>
                    
                </div>
            </div>