{% load static %}
<!-- RedHelper -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async" 
	src="https://web.redhelper.ru/service/main.js?c=arcfasad">
</script> 
<!--/Redhelper -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48198554 = new Ya.Metrika({
                    id:48198554,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48198554" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- JAVASCRIPT  FILES ========================================= -->
<script type="text/javascript"  src="{% static 'js/jquery-1.12.4.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script type="text/javascript"  src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->

<script type="text/javascript"  src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script type="text/javascript"  src="{% static 'js/jquery.bootstrap-touchspin.min.js' %}"></script><!-- FORM JS -->

<script type="text/javascript"  src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->

<script type="text/javascript"  src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script type="text/javascript"  src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script type="text/javascript"  src="{% static 'js/waypoints-sticky.min.js' %}" ></script><!-- COUNTERUP JS -->

<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->

<script type="text/javascript"  src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->

<script type="text/javascript"  src="{% static 'js/stellar.min.js' %}"></script><!-- PARALLAX BG IMAGE   -->
<script type="text/javascript"  src="{% static 'js/scrolla.min.js' %}"></script><!-- ON SCROLL CONTENT ANIMTE   -->

<script type="text/javascript"  src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script type="text/javascript"  src="{% static 'js/shortcode.js' %}"></script><!-- SHORTCODE FUCTIONS  -->


<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script type="text/javascript" src="{% static 'js/rev-script-4.js' %}"></script>
