{% load static %}
<div id="with-form" class="modal fade" role="dialog" style="display: none;">
                                  <div class="modal-dialog" style="margin-top: 20.5px;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header bg-primary">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title text-white">Заказать расчет</h4>
                                      </div>
                                      <div class="modal-body">
                                        <form id="demo-form" class="form-horizontal mb-lg" novalidate="">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-3 control-label">Имя</label>
                                                <div class="col-sm-9">
                                                    <input name="name" class="form-control" placeholder="Введите Имя..." required="" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Телефон</label>
                                                <div class="col-sm-9">
                                                    <input name="email" class="form-control" placeholder="Введите номер..." required="" type="email">
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="site-button  m-r15" data-dismiss="modal">Закрыть
                                         <i class="fa fa-angle-double-right"></i></button>

                                        <button type="button" class="site-button ">Отправить
                                         <i class="fa fa-angle-double-right"></i></button>

                                      </div>
                                    </div>
    </div>
</div>
<div id="Login-form" class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-white">Login Your Account</h4>
      </div>
      <div class="modal-body p-a30">
        <form id="log-form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" placeholder="Enter Username" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" placeholder="Enter email" type="email">
                </div>
            </div>
            <button type="button" class="site-button-secondry text-uppercase btn-block m-b10">Submit</button>
            <span class="font-12">Don't have an account? <a href="javascript:;" class="text-primary">Register Here</a></span>
        </form>
      </div>
      <div class="modal-footer text-center">
        <div class="text-center"><img src="{% static 'images/logo-dark.png' %}" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL  REGISTER -->
<div id="Register-form" class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-white">Register here</h4>
      </div>
      <div class="modal-body p-a30">
        <form id="reg-form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" placeholder="Enter Username" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" placeholder="Enter email" type="email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input class="form-control" placeholder="Enter Password" type="email">
                </div>
            </div>
            <button type="button" class="site-button-secondry text-uppercase btn-block m-b10">Submit</button>
            <span class="font-12">Already Have an Account? <a href="javascript:;" class="text-primary">Login</a></span>
        </form>
      </div>
      <div class="modal-footer text-center">
        <div class="text-center"><img src="{% static 'images/logo-dark.png' %}" alt=""></div>
      </div>
    </div>
  </div>
</div>
