<!DOCTYPE html>
{% load static thumbnail %}
<html lang="en">

<head>

	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="" />
    <meta name="description" content="{% block description %}Фасадные решения{% endblock %}" />
    <meta name="yandex-verification" content="4aeb3a21d01eb030" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />

    <!-- PAGE TITLE HERE -->
    <title>{% block title %}Фасадные решения{% endblock %}</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- [if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
	<![endif] -->

    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}" />
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.min.css' %}">
    <!-- ANIMATE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- BOOTSTRAP SELECT BOX STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.min.css' %}">
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'css/skin/skin-8.css' %}">
    <!-- CUSTOM  STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">



    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Crete+Round:400,400i&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>

	<div class="page-wraper">

        <!-- HEADER START -->
        {% include 'includes/header.html' %}
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content bg-white">
        
          <!-- INNER PAGE BANNER -->
          <div class="wt-bnr-inr overlay-wraper" style="background-image:url( {% static 'images/banner/banner-1.jpg' %} );">
            <div class="overlay-main bg-black opacity-02"></div>
              <div class="container">
                  <div class="wt-bnr-inr-entry">
                      <h1 class="text-white">{% block title-banner %}{{page.title}}{% endblock %}</h1>
                  </div>
              </div>
          </div>
          <!-- INNER PAGE BANNER END -->
         <div class="section-full bg-primary">
                <div class="container our-value">
                     <div class="row">
                        <div class="col-md-8 col-sm-8 p-t15 p-b30 our-value-left">
                             <div class="clearfix">
                                <div class="col-md-6 p-tb10">
                                    <div class="wt-icon-box-wraper left ">
                                        <div class="icon-md">
                                            <div class="icon-cell text-white">
                                                <span class="flaticon-construction-4"></span>
                                            </div>
                                        </div>
                                        <div class="icon-content text-secondry">
                                            <h5 class="wt-tilte text-uppercase m-b5">Рассрочка</h5>
                                            <p>С картой "халва"<br/> плати в рассрочку.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-tb10">
                                    <div class="wt-icon-box-wraper left">
                                        <div class="icon-md text-primary">
                                            <div class="icon-cell text-white">
                                                <span class="flaticon-people-1"></span>
                                            </div>
                                        </div>
                                        <div class="icon-content text-secondry">
                                            <h5 class="wt-tilte text-uppercase m-b0">Легко и удобно</h5>
                                            <p>Делаем сейчас <br/>а платите вы потом .</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 p-t10 col-md-offset-1 our-value-right credit">
                            <a href="/halva"><img src="{% static '/images/banner/credit.png' %}"></a>
                        </div>
                     </div>
                </div>
             </div>
        
         <!-- BREADCRUMB ROW -->
          <div class="bg-gray-light p-tb20">
            <div class="container">
                  <ul class="wt-breadcrumb breadcrumb-style-2">
                      <li><a href="/"><i class="fa fa-home"></i> Главная</a></li>
                      <li>{% block bread %}{{page.title}}{% endblock %}</li>
                  </ul>
              </div>
          </div>
          <!-- BREADCRUMB ROW END -->
        
          <!-- SECTION CONTENT -->
                    {% block content %}
					{% endblock %}
          <!-- SECTION CONTENT END -->
					{% block html_block %}
					{% endblock %}
					{% block html_block2 %}
					{% endblock %}
                    


        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        {% include 'includes/footer.html' %}
        <!-- FOOTER END -->


        <!-- SCROLL TOP BUTTON -->
        <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Вверх</button>

        <!-- MODAL  LOGIN -->
        {% include 'includes/modal.html' %}
        <!-- MODAL LOGIN END -->
    </div>

{% include 'includes/js.html' %}




</body>

</html>
