{% extends 'base-page.html' %}
{% load static thumbnail %}
{% block title %}{{object.title}}{% endblock %}
{% block description %}{{object.description}}{% endblock %}
{% block title-banner %}{{object.title}}{% endblock %}
{% block bread %}{{object.title}}{% endblock %}
{% block content %}
<div class="section-full p-t80 p-b50">
                <div class="container">
                
                    <!-- BLOG START -->
                    <div class="blog-post date-style-3 blog-post-single">
                        <div class="wt-post-media wt-img-effect">
                            <img src="{{object.image.url}}" alt="{{object.title}}">
                        </div>
                        <div class="post-description-area p-t30">
                           
                            <div class="wt-post-meta ">
                              <ul>
                                <li class="post-date"> <i class="fa fa-calendar"></i><strong>{{ object.born|date:"d M" }}</strong> <span> {{ object.born|date:"Y" }}</span> </li>
                              </ul>
                            </div>
                            <div class="wt-post-text">
                                {{object.content|safe}}
                            </div>

              
                        </div>
                    </div>
                    
                 
                        
                    
                    </div>
                    
                 
                    <!-- BLOG END -->
                        
                </div>
            </div>
{% endblock %}


