{% extends 'base-page.html' %}
{% load static thumbnail %}
{% block title %}Контакты{% endblock %}
{% block description %}Контакты{% endblock %}

{% block content %}
<div class="section-full p-t80 p-b50">
                <div class="container">

                	<!-- CONTACT DETAIL BLOCK -->
                    <div class="section-content m-b30">

                        <div class="row">

                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-smartphone-1"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white"> Телефон</h5>
                                        <p class="text-gray-dark">8(800)777-1845</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-email"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Email</h5>
                                        <p class="text-gray-dark">info@arc-fasad.ru</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">Пятигорск, Бештаугорское шоссе</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- GOOGLE MAP & CONTACT FORM -->
                    <div class="section-content m-b50">
                        <div class="row">

                        	<!-- LOCATION BLOCK-->
                            <div class="wt-box col-md-6">

                                 <h4 class="text-uppercase">Местонахождение</h4>
                                <div class="wt-separator-outer m-b30">
                                   <div class="wt-separator style-square">
                                       <span class="separator-left bg-primary"></span>
                                       <span class="separator-right bg-primary"></span>
                                   </div>
                               </div>


                                <div class="gmap-outline m-b30">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae008b7ed35cc97f8d0631be2ce01c91f37230698d9968d1a7845e09fa9fdd971&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                </div>

                            </div>

                            <!-- CONTACT FORM-->
                            <div class="wt-box col-md-6">

                                <h4 class="text-uppercase">Задать вопрос </h4>
                                <div class="wt-separator-outer m-b30">
                                    <div class="wt-separator style-square">
                                       <span class="separator-left bg-primary"></span>
                                       <span class="separator-right bg-primary"></span>
                                    </div>

                                </div>

                            	<div class="p-a30 bg-gray">

                                    <form class="cons-contact-form" method="post" action="form-handler.php">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        <input name="username" type="text" required="" class="form-control" placeholder="Имя">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        <input name="email" type="text" class="form-control" required="" placeholder="Email">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon v-align-t"><i class="fa fa-pencil"></i></span>
                                                        <textarea name="message" rows="1" class="form-control " required="" placeholder="Вопрос"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <button name="submit" type="submit" value="Submit" class="site-button  m-r15">Отправить  <i class="fa fa-angle-double-right"></i></button>
                                                <button name="Resat" type="reset" value="Reset" class="site-button ">Сбросить  <i class="fa fa-angle-double-right"></i></button>
                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- CONTACT DETAIL BLOCK -->
                    <div class="section-content m-b30">

                        <div class="row">


                            <h4 class="text-uppercase">Мы в городах </h4>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Ессентуки, ул.Железнодорожная 1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Минеральные воды, территория Аул</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Кисловодск, Седлогорская улица, 11</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Нальчик, ул. Циолковского, 7</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Черкесск, Линейный переулок, Бизнесцентр</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-secondry">
                                    <div class="icon-sm text-white m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5 class="text-white">Адрес</h5>
                                        <p class="text-gray-dark">г.Владикавказ, ул. Цоколаева, 5</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
           </div>
{% endblock %}
{% block html_block %}
{{page.html_block|safe}}
{% endblock %}
{% block html_block2 %}
{{page.html_block2|safe}}
{% endblock %}
