{% extends 'base-page.html' %}
{% load static thumbnail %}
{% block title %}{{page.meta_title}} в {{city.padej}}{% endblock %}
{% block description %}{{page.description}} в {{city.padej}}{% endblock %}
{% block content %}
<div class="section-full  p-t10 p-b10  ">
                <div class="container  bg-white ">
                        <div class="row">
                        <!-- LEFT PART -->
                        <div class="col-md-3 col-sm-3 p-tb15">


                            <!-- WHAT WE DO -->
                            <div class="wt-nav-block m-b30">
                                <h2 class="wt-nav-title">Услуги</h2>
                                <ul class="wt-nav wt-nav-pills">
                                  {% for item in service_list %}
                                  {% if city.slug == 'pyatigorsk' %}
                                  <li><a href="{% url 'page_detail' page_slug=item.slug %}">{{item}}</a></li>
                                  {% else %}
                                  <li><a href="{% url 'page' city_slug=city.slug slug=item.slug %}">{{item}}</a></li>
                                  {% endif %}
                                  {% endfor %}
                                </ul>
                            </div>

                            <!-- CONTACT US -->
                            <div class="widget bg-white  widget_getintuch">
                                <h4 class="widget-title">Контакты</h4>
                                <ul>
                                  <li><i class="fa fa-map-marker"></i><strong>Адрес</strong>г.{{adress.city}}, {{adress.street}}</li>
                                  <li><i class="fa fa-phone"></i><strong>Телефон</strong>8(800)777-1845</li>
                                  <li><i class="fa fa-envelope"></i><strong>Email</strong>info@arc-fasad.ru</li>
                                </ul>
                            </div>
                        </div>
                        <!-- LEFT PART -->

                        <!-- RIGHT PART -->
                        <div class="col-md-9 col-sm-9 p-tb10">
                            <!-- BLOG POST CAROUSEL -->
                            {% if page.title == 'Фасадный декор' %}
                            <div class="section-content">
                                <div class="row">
                                  {% for item in decor_list %}
                                    <div class="col-md-4 col-sm-4 p-tb15">
                                        <div class="wt-box bg-white">
                                            <div class="wt-media">
                                              <a href="{% url 'page_detail' page_slug=item.slug %}">
                                                {% thumbnail item.image "300x180" crop="center" as im %}
                                                <img src="{{im.url}}" alt="{{item.title}}">
                                                {% endthumbnail %}
                                              </a>
                                            </div>
                                            <div class="wt-info p-tb30">
                                                <h4 class="wt-title m-t0">
                                                  <a href="{% url 'page_detail' page_slug=item.slug %}">{{item.title}}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                             {% endif %}
                             <div class="section-content ">
                                {{page.content|safe}}
                             </div>

                         </div>
                        <!-- RIGHT PART -->
                    </div>
                </div>
             </div>
             <div class="section-full bg-primary">
                             <div class="container our-value">
                                  <div class="row">
                                     <div class="col-md-8 col-sm-8 p-t15 p-b30 our-value-left">
                                          <div class="clearfix">
                                             <div class="col-md-6 p-tb10">
                                                 <div class="wt-icon-box-wraper left ">
                                                     <div class="icon-md">
                                                         <div class="icon-cell text-white">
                                                             <span class="flaticon-construction-4"></span>
                                                         </div>
                                                     </div>
                                                     <div class="icon-content text-secondry">
                                                         <h5 class="wt-tilte text-uppercase m-b5">Производство</h5>
                                                         <p>Собственное производство<br> фасадного декора в {{city.padej}}</p>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-md-6 p-tb10">
                                                 <div class="wt-icon-box-wraper left">
                                                     <div class="icon-md text-primary">
                                                         <div class="icon-cell text-white">
                                                             <span class="flaticon-people-1"></span>
                                                         </div>
                                                     </div>
                                                     <div class="icon-content text-secondry">
                                                         <h5 class="wt-tilte text-uppercase m-b0">Профессионалы</h5>
                                                         <p>Только высококвалифицированные <br>специалисты .</p>
                                                     </div>
                                                 </div>
                                             </div>

                                         </div>
                                     </div>
                                     <div class="col-md-3 col-sm-3 p-t50 p-b50 col-md-offset-1 our-value-right">
                                         <button type="button" class="site-button-secondry m-r15 text-uppercase font-weight-600 " data-toggle="modal" data-target="#with-form">Заказать расчет</button>
                                     </div>
                                  </div>
                             </div>
                          </div>

{% endblock %}
{% block html_block %}
<div class="section-full  p-t50 p-b10  ">
                <div class="container  bg-white ">
                        <div class="row">
                        <!-- RIGHT PART -->
                        <div class="col-md-9 col-sm-9 p-tb10">
                            <!-- BLOG POST CAROUSEL -->
                             <div class="section-content ">

                                {{page.block_html|safe}}
                             </div>

                         </div>
                        <!-- RIGHT PART -->
                        <!-- LEFT PART -->
                        <div class="col-md-3 col-sm-3 p-tb15">
                            {% include 'tags/portfolio_aside.html' %}
                        </div>
                        <!-- LEFT PART -->
                    </div>
                </div>
             </div>
{% endblock %}
{% block html_block2 %}
{% if html_block2 %}
<div class="section-full  p-t80 p-b50  ">
                <div class="container  bg-white ">
                        <div class="row">
                        <div class="col-md-9 col-sm-9 p-tb10">
                            <!-- BLOG POST CAROUSEL -->
                             <div class="section-content ">
                                {{page.block_html_2|safe}}
                             </div>
                         </div>
                        <!-- RIGHT PART -->
                    </div>
                </div>
             </div>
{% endif %}
{% include 'includes/how_we_work.html' %}
{% endblock %}
