{% extends 'base-page.html' %}
{% load static thumbnail %}
{% block title %}Все услуги продоставляемые arc-fasad.ru{% endblock %}
{% block description %}Посмотрите все наши улуги, мы строительная фирма, которая занимается фасадными решениями.{% endblock %}
{% block title-banner %}{{page.title}}{% endblock %}
{% block bread %}{{page.title}}{% endblock %}
{% block content %}
<!-- SECTION CONTENT -->
<div class="section-full p-t80 p-b50  ">
    <div class="container">
      <!-- TITLE START -->
        <div class="section-head text-center">
                <h2 class="text-uppercase">Наши услуги</h2>
                <div class="wt-separator-outer">
                   <div class="wt-separator style-square">
                       <span class="separator-left bg-primary"></span>
                       <span class="separator-right bg-primary"></span>
                   </div>
               </div>
                <p>Все работы выполняются профессионалами. Мы работаем под ключ и делаем свое дело качественно.</p>
            </div>
        <!-- TITLE END -->
        <div class="section-content">
            <div class="row">
              {% for item in service_list %}
                <div class="col-md-4 col-sm-4 p-tb15">
                    <div class="wt-box bg-white">
                        <div class="wt-media">
                            <a href="{% url 'page_detail' page_slug=item.slug %}">
                              {% thumbnail item.image "300x180" crop="center" as im %}
                              <img src="{{im.url}}" alt="{{item.title}}">
                              {% endthumbnail %}
                            </a>
                        </div>
                        <div class="wt-info p-tb30">
                            <h4 class="wt-title m-t0"><a href="{% url 'page_detail' page_slug=item.slug %}">{{item.title}}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<!-- SECTION CONTENT END -->
{% endblock %}
